<h1>Welcome</h1>
<form action="/post-example" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Log In</button>
</form>